<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store Manager Login Page | XaXa Creative Concepts</title>
    <link rel="stylesheet" href="../CSS/styles.css">
    <script src="../js/storescript.js"></script>
  </head>
  <body>
   
    <div class="contentMain"> 
          <h1><b class="reds">Iwotokijikiji Store Manager Web App</b></h1>
          <h3 class="blues">Login in order to;</h3>
          <ul class="italic">i. Manage employee turn up and Perfomance</ul>
          <ul class="italic">ii. Track sales</ul>
          <ul class="italic">iii. Follow up on financial performance</ul>
    </div>
    

    <div class="login-box">
      <h1>Login Here</h1>
      <br>
      <br>
      <br>
      <form action="admin.html">
        <!-- USERNAME TYPE SUBMIT -->
        <label> Choose account type</label><br><br>
      
        <a href="admin.html"><input type="submit" value="Admin" action="admin.html"/></a>
        <p>
        </form>
        <form action="attendant.html">
        <a href="attendant.html"><input type="submit" name="submit" value="Attendant"/></a>
        </p>

      </form>
    </div>
  </body>
</html>
