<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Individual Sales Records Of Each Attendant</title>
<link rel="stylesheet" type="text/css" href="../CSS/indivual.css" />
</head>
<body>

<div id="header">
<h1>Iwotokijikiji Store Manager UI</h1>
</div>

<div id= "search"> Search Store Inventory
  <input id="yoloz" type="text" placeholder="search"> &nbsp;&nbsp;<input id="yolo" type="submit" name="submit" value="Search"/>
</div>

<div id="nav">
    <nav>
    <ul>
    <li><a href="shopping cart index.html">Shopping Cart</a><br></li>
    <li><a href="individual sales recordsA.html">Sales</a><br></li>
    <li><a href="inventoryA.html">Store Inventory</a> <br></li>
    </ul>
    </nav>
    </div>
    </div>


    <div id = "contentmain">
<h1>Individual Sales Records</h1>

  <table cellspacing="20" class="sales-records">
    <thead>
      <tr class="headings">
        <th class="link"> Ranking</td>
        <th class="Attendant">Store Attendant</td>
        <th class="item">Item Sold</td>
        <th class="quantity">Quantity</td>
        <th class="qprice">Price per Unit</td>  
       <th class="tprice">Total Sold</td>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td class="link"  rowspan="9"><label> Ranked 1</label></td>
        <td class="Attendant" rowspan="9"> Mr. Dennis Lwanga
          <div class="Attendant-img"><a href="{#Attendant.url}"><img src ="../img/avatar.jpg"></a></div>
          <div class="Attendant-name">
            <a href="{#Attendant.url}"></a>
           
              <br />
          </div>
        </td>
        <td class="item"> Rice

        <td class="quantity"> 4 Bag
          
        </td>
        <td class="qprice"> 80,000 Ugx
          
        </td>
        <td class="tprice"> 320,000 Ugx

        </td>
      </tr>
      <tr> 
          
            </td>
            <td class="item"> Maize
    
            <td class="quantity"> 4 sacks
              
            </td>
            <td class="qprice"> 65,000 Ugx
              
            </td>
            <td class="tprice">260,000 Ugx
    
            </td>
          </tr>
          <tr> 
              
                <td class="item"> Mocassins
        
                <td class="quantity"> 20
                  
                </td>
                <td class="qprice"> 75,000 Ugx
                  
                </td>
                <td class="tprice"> 1,500,000 Ugx
        
                </td>
              </tr>
              <tr> 
                    
                    <td class="item"> Jeans
            
                    <td class="quantity"> 312
                      
                    </td>
                    <td class="qprice"> 30,000 Ugx
                      
                    </td>
                    <td class="tprice"> 9,360,000 Ugx
            
                    </td>
                  </tr>
                  <tr> 
                       
                        <td class="item">
                
                        <td class="quantity">
                          
                        </td>
                        <td class="qprice">
                          
                        </td>
                        <td class="tprice">
                
                        </td>
                      </tr>
                      <tr> 
                            
                            <td class="item">
                    
                            <td class="quantity">
                              
                            </td>
                            <td class="qprice">
                              
                            </td>
                            <td class="tprice">
                    
                            </td>
                          </tr>
                          <tr> 
                                
                                <td class="item">
                        
                                <td class="quantity">
                                  
                                </td>
                                <td class="qprice">
                                  
                                </td>
                                <td class="tprice">
                        
                                </td>
                              </tr>
     
                              <tr> 
                                   
                                    <td class="item">
                            
                                    <td class="quantity">
                                      
                                    </td>
                                    <td class="qprice">
                                      
                                    </td>
                                    <td class="tprice">
                            
                                    </td>
                                  </tr>      
                                  <tr> 
                                        
                                    
                                        <td class="item">
                                
                                        <td class="quantity">
                                          
                                        </td>
                                        <td class="qprice">
                                          
                                        </td>
                                        <td class="tprice">
                                
                                        </td>
                                      </tr>
     
 
      <tr class="totals">
        <td colspan="2">
        <td class="quantity-span" colspan="3">Total</td>
        <td class="price"> 11,440,000 Ugx</td>
      </tr>
    </tbody>
  </table>

  </div>

  <div style="clear: both;"></div>
  <a href="index.html" class="signout-button">Sign Out</a>
  </div>

</div>
</div>

<div id="footer">
Copyright &copy  Xaxa Creations
</div>

</body> 
</html>