<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Goods inventory</title>
<link rel="stylesheet" type="text/css" href="../CSS/inventory.css"/>
</head>

<body>


<div id="header">
<h1>Iwotokijikiji Store Manager UI</h1>
</div>

<div id= "search"> Search Store Inventory
  <input id="yoloz" type="text" placeholder="search"> &nbsp;&nbsp;<input id="yolo" type="submit" name="submit" value="Search"/>
</div>

<div id="nav">
    <nav>
    <ul>
    <li><a href="store sales.html">Sales</a><br></li>
    <li><a href="dashboard.html">Store Administration</a><br></li>
    <li><a href="inventory.html">Store Inventory</a> <br></li>
    </ul>
    </nav>
    </div>
    </div>



<div id = "contentmain">
<h1>Stock Inventory</h1>

  <table cellspacing="33" class="inventory">
    <thead>
      <tr class="headings">
        <th class="cereals">Cereals</td>
        <th class="clothes">Clothes</td>
        <th class="drinks">Drinks</td>  
       <th class="shoes" colspan="3">Shoes</td>
      </tr>
    </thead>
</div>

    <tbody>
    <tr> 
     <td class="cereals"> In Stock: 40 Bags<br>Min Stock: 10 Bags
     <div class="cereals-img"><a href="{#cereals.url}"><img src="../img/rice.jpg"></a></div>
     <div class="cereals-name">
     <a href="{#cereals.url}"> <div id="qt">Rice</div></a>
                       
     <br/>
     </div>
     </td>
     

      
        <td class="clothes">In Stock: 120<br> Min Stock: 20
          <div class="clothes-img"><a href="{#clothes.url}"><img src="../img/tshirt.jpg"></a></div>
          <div class="clothes-name">
            <a href="{#clothes.url}"><div id="qt"> T-Shirts</div></a>
           
              <br/>
          </div>
        </td>
      
       
        <td class="drinks"> In Stock: 40 crates<br> Min Stock: 10 crates
        <div class="drinks-img"><a href="{#drinks.url}"> <img src="../img/soda.jpg"> </a></div>
        <div class="drinks-name"> 
        <a href="{#drinks.url}"><div id="qt"> Soda</div></a>                           
        <br/>
        </div>
        </td>
        

        
        <td class="shoes">In Stock: 7 pairs <br> Min Stock: 2 Pairs
        <div class="shoes-img"><a href="{#shoes.url}"><img src="../img/mocaz.jpg"></a></div>
        <div class="shoes-name"> 
        <a href="{#shoes.url}"><div id="qt">Mocassins</div></a>
        <br/>
        </div>
        </td>
        </tr>
    </tr>

        <tr> 
        <td class="cereals"> In Stock: 100 Bags<br> Min Stock: 20 Bags
        <div class="cereals-img"><a href="{#cereals.url}"><img src="../img/maize.jpg"></a></div>
        <div class="cereals-name"> 
        <a href="{#cereals.url}"> <div id="qt">Maize Flour</div></a>
        <br/>
        </div>
        </td>
        

        
        <td class="clothes"> In Stock: 60 <br> Min Stock: 10
        <div class="clothes-img"><a href="{#clothes.url}"><img src="../img/jean.jpg"></a></div>
        <div class="clothes-name"> 
        <a href="{#clothes.url}"> <div id="qt">Jean Trousers</div></a>
        <br/>
        </div>
        </td>
        

        
        <td class="drinks"> In Stock: 10 Cartons <br> Min Stock: 3 Cartons
        <div class="drinks-img"><a href="{#drinks.url}"><img src="../img/juice.jpg"></a></div>
        <div class="drinks-name">
        <a href="{#drinks.url}"><div id="qt"> Juice</div></a>
        <br/>
        </div>
        </td>
        

        
        <td class="shoes">In Stock: 7 Pairs <br> Min Stock: 2 pairs
        <div class="shoes-img"><a href="{#shoes.url}"><img src="../img/timba.jpg"></a></div>
        <div class="shoes-name">
        <a href="{#shoes.url}"><div id="qt"> Timbaland</div></a>
        <br>
        </div>
        </td>
        </tr>
    </tr>

    </tbody>
  </table>

  </div>



</div>
</div>
<div style="clear: both;"></div>
<a href="index.html" class="signout-button">Sign Out</a>
</div>

<div id="footer">
Copyright &copy  Xaxa Creations
</div>
</div>

</body> 
</html>