<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Shopping Cart</title>
<link rel="stylesheet" type="text/css" href="../CSS/shopping cart.css" />
</head>
<body>

<div id="header">
<h1>Iwotokijikiji Store Manager UI</h1>
</div>

<div id= "search"> Search Store Inventory
  <input id="yoloz" type="text" placeholder="search"> &nbsp;&nbsp;<input id="yolo" type="submit" name="submit" value="Search"/>
</div>

<div id="nav">
    <nav>
    <ul>
    <li><a href="shopping cart index.html">Shopping Cart</a><br></li>
    <li><a href="individual sales recordsA.html">Sales</a><br></li>
    <li><a href="inventoryA.html">Store Inventory</a> <br></li>
    </ul>
    </nav>
    </div>
    </div>



<div id = "contentmain">
<h1 >Shopping Cart <img src="../img/cart.jpeg" width="50px" height="50px"></h1>

  <table cellspacing="0" class="shopping-cart">
    <thead>
      <tr class="headings">
        <th class="link">&nbsp;</td>
        <th class="product">Item</td>
        <th class="qprice">Price</td>
        <th class="quantity">Quantity</td>
        <th class="tprice">Total</td>
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td class="link"><label> <a href="{#product.url}">remove</a></label></td>
        <td class="product">
          <div class="product-img"><a href="{#product.url}"><img src="../img/rice.jpg"> </a></div>
          <div class="product-name"> 
            <a href="{#product.url}"> Rice</a>
           
              <br />
          </div>
        </td>
        <td class="qprice"> 10,000 Ugx
          
        </td>
        <td class="quantity"> 3 KGS
          
        </td>
        <td class="tprice"> 30,000 Ugx</td> 
      </tr>
   

      
      

            <tr> 
              <td class="link"><label> <a href="{#product.url}">remove</a></label></td>
              <td class="product">
                <div class="product-img"><a href="{#product.url}"><img src="../img/tshirt.jpg"></a></div>
                <div class="product-name">
                  <a href="{#product.url}">T-Shirt</a>
                 
                    <br />
                </div>
              </td>
              <td class="qprice">12,000 Ugx
                
              </td>
              <td class="quantity"> 3
                
              </td>
              <td class="tprice"> 36,000 Ugx </td>
            </tr>
         

            
                <tr> 
                  <td class="link"><label> <a href="{#product.url}">remove</a></label></td>
                  <td class="product">
                    <div class="product-img"><a href="{#product.url}"><img src="../img/mocaz.jpg"></a></div>
                    <div class="product-name"> 
                      <a href="{#product.url}">Mocassins</a>
                     
                        <br />
                    </div>
                  </td>
                  <td class="qprice"> 80,000 Ugx
                    
                  </td>
                  <td class="quantity"> 1
                    
                  </td>
                  <td class="tprice"> 80,000 Ugx</td>
                </tr>
             

                
                    <tr> 
                      <td class="link"><label> <a href="{#product.url}">remove</a></label></td>
                      <td class="product">
                        <div class="product-img"><a href="{#product.url}"><img src="../img/soda.jpg"></a></div>
                        <div class="product-name">
                          <a href="{#product.url}">Soda</a>
                         
                            <br />
                        </div>
                      </td>
                      <td class="qprice"> 22,000 Ugx
                        
                      </td>
                      <td class="quantity"> 1 Crate
                        
                      </td>
                      <td class="tprice">22,000 Ugx</td>
                    </tr>
                 
     
 
      <tr class="totals">
        <td colspan="2"><input type="submit" id="yolo" name="submit" value="Update cart" />&nbsp;&nbsp;&nbsp;<a href= "individual sales records.html"><input type="submit" id="yolo" name="submit" value="Create sales records from items in table" /></a></td>
        <td class="quantity-span" colspan="2">Total</td>
        <td class="price"> 168,000 Ugx</td>
      </tr> 
    </tbody>
  </table>

  </div>

</div>
</div>
<div style="clear: both;"></div>
<a href="individual sales recordsA.html" class="records">See own sales records</a>
<a href="index.html" class="signout-button">Sign Out</a>
</div>

<div id="footer">
Copyright &copy  Xaxa Creations
</div>

</body> 
</html>