#header {
    background-image:url(../img/heady.jpg); 
 	margin-top: 0px;
 	margin-bottom: 0px;
 	width: 1490px;
 	padding: 20px;
 	height:250px;
    color: rgb(255, 145, 0);
    font-family: 'Papyrus' ,'fantasy';
    font-size: 40px;
  	text-align:center;
    padding:7px;         
}
body {
    background-color: rgb(28, 38, 53);
    color: #F0F0F0;
}

#search {
    text-align: center;
    font-size: 22px;
    font-family: 'Papyrus' ,'fantasy';
}

button {
    font-family: 'Papyrus' ,'fantasy';
    background-color:  rgb(255, 145, 0);
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
}

button:hover {
    border: none;
    background: rgb(28, 38, 53);
    box-shadow: 0px 0px 1px #777;
    color: #F0F0F0;
  }

#yoloz {
    font-family: 'Papyrus' ,'fantasy';
    font-size: 20px;
    background-color: #F0F0F0;
    color: black;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
}

#yolo {
    font-family: 'Papyrus' ,'fantasy';
    background-color: rgb(255, 145, 0);
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
}
  
  #yolo:hover {
    border: none;
    background: rgb(28, 38, 53);
    box-shadow: 0px 0px 1px #777;
    color: #F0F0F0;
  }

#nav {
    width: 20%;
    background-color:rgb(255, 145, 0);
    line-height:50px;
    color:  rgb(255, 145, 0);
    height:auto;
    float:right;
    font-family: 'Papyrus' ,'fantasy';
    font-size: 20px;
    font-weight: bold;
    margin-top: 190px;
    list-style-type: none;    
    padding: 0;     
}

ul {
    width:200px;
    }

li a {
    display: block;
    border-bottom: 1px rgb(28, 38, 53) solid;  
    text-align: center;
    text-decoration: none;
    color: black;
}

li:last-child {   
    border-bottom: none;
}

li a:hover {   
    background-color: white; 
} 

#contentmain {
    overflow: hidden;
    margin: 5px;
    padding: 3px;
    font-family: 'Papyrus' ,'fantasy';
    font-size: 23px;

  }

  #up {
    font-family: 'Papyrus' ,'fantasy';
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
}
  
  #up:hover {
    border: none;
    box-shadow: 0px 0px 1px #777;
    color: #F0F0F0;
  }

a {
    color: #F0F0F0;
    text-decoration: none;
}

.sales-records {float: center; width: 95%; height: 500%; border-top: 1px solid #C3C3C3; border-right: 1px solid #C3C3C3;}
.sales-records th {background: #F0F0F0;}
.sales-records th, .sales-records td {border-bottom: 1px solid #C3C3C3; border-left: 1px solid #C3C3C3; padding: 3px;}
.sales-records .date { font-size: 90%; white-space: nowrap;}
.sales-records .item {width: 15%}
.sales-records .qprice {width: 20%;}
.sales-records .quantity {width: 10%;}
.sales-records .quantity input {width: 30px;}
.sales-records .tprice {width: 20%;}
.sales-records .price {width: 25%;}
.sales-records tr.totals {font-weight: bold;}
.sales-records tr.totals a {font-weight: normal;}
.sales-records .quantity-span {text-align: right;}
.records {float: left; margin: 20px 0; font-weight: bold; font-family:'Papyrus' ,'fantasy' }
.signout-button {float: right; margin: 20px 0; font-weight: bold; font-family:'Papyrus' ,'fantasy'}


#footer {
    background-color:rgb(255, 145, 0);
    color:white;
    clear:both;
    text-align:center;
    font-family:'Papyrus' ,'fantasy' 
}


