
#header {
    background-image:url(../img/heady.jpg); 
 	margin-top: 0px;
 	margin-bottom: 0px;
 	width: 1490px;
 	padding: 20px;
 	height:250px;
    color: rgb(255, 145, 0);
    font-family: 'Papyrus' ,'fantasy';
    font-size: 40px;
  	text-align:center;
    padding:7px;         
}
#search {
    text-align: center;
    font-size: 22px;
    font-family: 'Papyrus' ,'fantasy';

}
#nav {
    line-height: 50px;
    background-color:rgb(255, 145, 0);
    color:  rgb(255, 145, 0);
    height:auto;
    width:23%;
    float:right;
    font-family: 'Papyrus' ,'fantasy';
    font-size: 25px;
    font-weight: bold;
    margin-top: 190px;
}

#contentmain {
    overflow: hidden;
    margin: 5px;
    padding: 3px;
    font-family: 'Papyrus' ,'fantasy';
    font-size: 23px;

  }

.shopping-cart {float: center; width: 90%; border-top: 1px solid #C3C3C3; border-right: 1px solid #C3C3C3;}
.shopping-cart th {background: #F0F0F0;}
.shopping-cart th, .shopping-cart td {border-bottom: 1px solid #C3C3C3; border-left: 1px solid #C3C3C3; padding: 3px;}
.shopping-cart .link {font-size: 90%; width: 10%; white-space: nowrap;}
.shopping-cart .product {width: 30%;}
.shopping-cart .qprice {width: 15%;}
.shopping-cart .quantity {width: 15%;}
.shopping-cart .quantity input {width: 15%;}
.shopping-cart .tprice {width: 20%;}
.shopping-cart .price {width: 20%;}
.shopping-cart .product-img {border: 1px solid #ccc; background-color: #e9e9e9; padding: 3px; width: 80px; height: 80px; float: left;}
.shopping-cart .product-img img {max-width:80px;max-height:80px;width:auto;height:auto;}
.shopping-cart .product-name {margin-left: 100px;}
.shopping-cart tr.totals {font-weight: bold;}
.shopping-cart tr.totals a {font-weight: normal;}
.shopping-cart .quantity-span {text-align: right;}
.records {float:left;margin:20px 0; font-weight: bold;}
.signout-button {float: right; margin: 20px 0; font-weight: bold;}


#footer {
    background-color:rgb(28, 38, 53);
    color:white;
    clear:both;
    text-align:center;
    padding:7px; 
}


